<!DOCTYPE html>
<html>
<head>
  <title>Marlowe</title>
  <%= stylesheet_link_tag    "marlowe/application", :media => "all" %>
  <%= javascript_include_tag "marlowe/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
